<div class="project-card">
    <div class="header-card">
        <div *ngIf="!isEditing">
            <h3>{{project.title}}</h3>
        </div>
        <div *ngIf="isEditing">
            <form [formGroup]="projectCardForm" (ngSubmit)="onSubmit()" class="custom-form">
                <div class="edit-title">
                    <input 
                        type="title"
                        class="form-control"
                        id="title"
                        name="title"
                        formControlName="title"
                        placeholder="New Title"
                        required
                    />
                    <button type="submit" class="btn btn-primary login"><i class="fas fa-check"></i></button>
                </div>
            </form>
        </div>
        <div class="icons-group">
            <i class="fas fa-edit" (click)="changeEdit()"></i>
            <i class="fas fa-times" (click)="onRemoveProject()"></i>
        </div>
    </div>
    <hr>
    <div class="project-info">
        <h3>To Do</h3>
        <div *ngFor="let task of project.tasks">
            <app-task [task]="task" (changeTask)="changeTaskFromCard()"></app-task>
        </div>
    </div>
    <div>
        <div class="edit-title">
            <form [formGroup]="taskForm" (ngSubmit)="onSubmitTask()" class="custom-form">
                <div class="edit-title">
                    <input 
                        type="description"
                        class="form-control"
                        id="description"
                        name="description"
                        formControlName="description"
                        placeholder="New Task"
                        required
                    />
                    <button type="submit" class="btn btn-primary add">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>